@model IEnumerable<DBproject.DAL.Models.TeamModel>
@{
    ViewData["Title"] = "Все команды";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Добро пожаловать</h1>
        <div class="row">
            @foreach (var team in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="/team/@team.TeamId" class="text-decoration-none">
                                <h2 class="card-title h4">@team.Name</h2>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>