@model IEnumerable<DBproject.DAL.Models.TeamModel>
@{
    ViewData["Title"] = "Все команды";
}

<table class="table">
    <thead>
        <tr>
            <th>Team ID</th>
            <th>Name</th>
            <th>TaskLists</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.TeamId</td>
                <td>@team.Name</td>
                <td><a href="/team/@team.TeamId">Ссылка</a></td>
            </tr>
        }
    </tbody>
</table>